{% extends 'base.html.twig' %}

{% block body_id 'dashboard' %}

{% block body %}

<div class="container">


    {#<h1> Mon tableau de bord </h1>#}


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="mychristmas-tab" data-toggle="tab" href="#mychristmas" role="tab" aria-controls="home" aria-selected="true">Mes infos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="allgifts-tab" data-toggle="tab" href="#allgifts" role="tab" aria-controls="profile" aria-selected="false">
                Tous les cadeaux
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="mychristmas" role="tabpanel" aria-labelledby="mychristmas-tab">
            {{ render(controller(
                'App\\Controller\\GiftController::_list',
                    { 'user' : app.user }
            )) }}
        </div>
        <div class="tab-pane" id="allgifts" role="tabpanel" aria-labelledby="allgifts-tab">
            {{ render(controller(
                'App\\Controller\\GiftController::_list',
                { 'max': 10 }
                    )) }}
        </div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
    </div>



    {#{{ include('gifts/_list.html.twig') }}#}

    {#<a href="{{ path('security_login') }}" target="_blank"> login </a>#}

</div>

{% endblock %}
